.ui-widget {
  font-family: inherit;
}

.ui-accordion  {
  margin-top: 39px;
}

.ui-accordion-header,
.ui-accordion-header-active,
.ui-accordion-content,
.ui-accordion-content-active {
  border: none;
}

.ui-accordion .ui-accordion-header {
  margin-top: 0;
  padding: 0;
  background-color: transparent;
  color: #333333;
}

.ui-accordion .ui-accordion-content {
  padding-left: 0;
  padding-right: 0;
  margin-left: 5px;
  max-width: 1003px;
}


/* .ui-accordion .ui-state-active {
   background-color: transparent;
} */


@media (max-width: 767px) {

  .ui-accordion  {
    margin-top: 14px;
  }

  .questions__item-description {
    font-size: 14px;
    line-height: 28px !important;
  }
}
