
* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

:root {
  --main-text-color: #333333;
  --main-yellow: #FF9900;
  --main-yellow-light: #ffc266;
  --main-yellow-dark: #E1670E;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #333333;
}

a:focus {
  outline: 2px solid var(--main-yellow);
}

h1, h2, h3, h4 {
  margin: 0;
}

h2 {
  font-size: 48px;
  color: #333;
  font-weight: 400;
  line-height: 58px;
}

h3 {
  font-size: 24px;
  font-weight: 700;
}

p {
  margin: 0;
}

body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  color: #333333;
  background-color: #fff;
}

button:focus {
  outline: 2px solid var(--main-yellow);
}

input:focus,
textarea:focus {
  outline: 2px solid var(--main-yellow);
}

.loader {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  content: '';
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 500;
  pointer-events: none;
}

.loader__ico {
  display: inline-block;
  /* position: relative; */
  /* content: ''; */
  /* top: 50vh; */
  /* left: 50%; */
  /* transform: translateX(1000px); */
  height: 100px;
  width: 100px;
  background-image: url(../img/loader-icon.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  /* background-position-x: 10px;
  background-position-y: 10px; */
  opacity: 0.2;
  z-index: 600;
  pointer-events: none;
  animation: rotate 1.5s ease-in-out 1;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
    /* transform: translateY(-50px); */
  }

  to {
    transform: rotate(720deg);
    /* transform: translateY(50px); */
    display: none;
  }
}

.wrapper {
  max-width: 1794px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

/* Swiper */
.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  background-color: rgba(255, 255, 255, 1);
  opacity: 0.35;
  margin-right: 20px !important;
  margin-left: 0px !important;
}

.swiper-pagination-bullet:last-child {
  margin-right: 0px !important;
}

.swiper-pagination {
  bottom: 26px !important;
}

.swiper-pagination-bullet-active {
  background: #fff;
  opacity: 1;
}

/* Swiper */

.btn {
  text-align: center;
  height: 60px;
  width: 175px;
  background-color: var(--main-yellow);
  color: #fff;
  font-weight: 700;
  border-style: none;
  cursor: pointer;
  transition: background-color 50ms linear;
}

.btn:focus {
  outline: 2px solid rgba(255, 103, 14, .5);
}

.btn:active {
  transform: translateY(1px);
}

/* Header */

.header {
  width: 100%;
  box-shadow: 0px 5px 40px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.header__menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 40%;
  visibility: hidden;
  background-color: #fff;
  border: 1px solid #CACACA;
  z-index: 3;
  font-size: 24px;
  font-weight: 600;
  transform: translateX(-101%);
  transition: transform .2s cubic-bezier(.02,1.2,.91,.95);
}

.header__menu-wrapper_active {
  transform: translateX(0);
  visibility: visible;
}

.header__menu-list {
  padding: 50px;
}

.header__menu-item {
  margin-bottom: 30px;
}

.header__menu-link {
  position: relative;
  overflow: hidden;
  padding-bottom: 3px;
}

.header__menu-link::after {
  position: absolute;
  content:'';
  bottom: -4px;
  left: 0;
  width: 103%;
  height: 2px;
  background-color: var(--main-yellow);
  transform: translateX(-20px);
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

.header__menu-link:hover::after {
  transform: translateX(0px);
  bottom: -4px;
  opacity: 1;
}

.header__menu-burger {
  display: none;
  width: 30px;
  height: 23px;
  background-image: url(../img/svg/burger-icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header__menu-burger_close {
  margin-top: 38px;
  margin-left: 50px;
  width: 30px;
  height: 23px;
  background-image: url(../img/svg/burger-icon-close.svg);
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.header__logo-wrapper {
  transform: translateY(2px);
}

.header__nav-list {
  display: flex;
}

.header__nav {
  padding-top: 16px;
}

.header__list-item {
  margin-right: 85px;
  font-size: 18px;
  font-weight: 600;
}

.header__nav-link {
  position: relative;
  padding-bottom: 3px;
}


.header__nav-link::after {
  position: absolute;
  content:'';
  bottom: -4px;
  left: 3%;
  width: 95%;
  height: 2px;
  background-color: var(--main-yellow);
  transform: translateY(20px);
  opacity: 0;
  transition-property: opacity, transform;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

.header__nav-link:hover::after{
  transform: translateY(0px);
  bottom: -4px;
  opacity: 1;
}


.header__nav-link:active {
  color: var(--main-yellow-dark);
}

.header__nav-link:active::after {
  background-color: var(--main-yellow-dark);
}

.header__search-item {
  position: relative;
  margin-right: 12px;
  margin-left: -14px;

}

.header__search-icon {
  display: inline-block;
  transform: translateY(-3px);
  width: 26px;
  height: 26px;
}

.header__search-icon::after {
  position: absolute;
  content: "";
  /* top: -3px; */
  width: 26px;
  height: 26px;
  background-image: url(../img/svg/search-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__search-icon:hover::after {
  position: absolute;
  content: "";
  /* top: -3px; */
  width: 26px;
  height: 26px;
  background-image: url(../img/svg/search-icon-hover.svg);
  background-repeat: no-repeat;
  background-size: contain;
}

.header__search-icon:active::after {
  position: absolute;
  content: "";
  top: -3px;
  width: 26px;
  height: 26px;
  background-image: url(../img/svg/search-icon-active.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
/* hero-section */

.hero-section {
  margin-bottom: 101px;
  margin-top: 1px;
}

.hero-section__background-image {
  /* position: relative; */
  /* max-width: 100%; */
  height: 620px;
  background-image: url(../img/hero-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section__background-image-2 {
  /* position: relative; */
  /* max-width: 100%; */
  height: 620px;
  background-image: url(../img/hero-img-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section__background-image-3 {
  /* position: relative; */
  /* max-width: 100%; */
  height: 620px;
  background-image: url(../img/hero-img-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.hero-section__content {
  position: absolute;
  z-index: 2;
  max-width: 900px;
  padding: 103px 0 0 80px;
  pointer-events: none;
}

.hero-section__btn {
  pointer-events: visible;
}

.hero-section__btn {
  text-align: center;
  width: 280px;
  height: 80px;
  margin-top: 96px;
  cursor: pointer;
  font-size: 23px;
  font-weight: 700;

}

.hero-section__btn:hover {
  background-color: #ffc266;
}

.hero-section__btn:active {
  background-color: var(--main-yellow-dark);
}

.hero-section__heading {
  color: #fff;
  font-size: 70px;
  line-height: 86px;
  font-weight: 800;
  letter-spacing: 1px;
}

.hero-section__description {
  margin-top: 20px;
  color: #fff;
  line-height: 29px;
  font-weight: bold;
  font-size: 23px;
  letter-spacing: .3px;
}

.hero-section__slider-list {
  display: flex;
  position: absolute;
  justify-content: center;
  bottom: 30px;
  left: 0;
  right: 0;
}

.hero-section__slider-item {
  height: 15px;
  width: 15px;
  margin-right: 20px;
  background: #fff;
  border-radius: 50%;
}

.hero-section__slider-item:nth-child(n+2) {
  opacity: 0.4;
}

.hero-section__slider-item:last-child {
  margin-right: 0;
}

/* about-us-section */

.about-us-section__heading {
  margin-left: 2px;
}

.about-us-section__info-icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  margin-left: 5px;
  transform: translate(1px, 3px);
  background-image: url(../img/svg/info-icon.svg);
  background-repeat: no-repeat;
  background-size: contain;
  cursor: pointer;
}

.about-us-section__description {
  margin-top: 22px;
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

.about-us-section__text {
  max-width: 1235px;
}

.about-us-section__promo-wrapper {
  display: flex;
  flex-wrap: nowrap;
  margin-top: 43px;
}

.about-us-section__more {
  display: flex;
  align-items: flex-end;
  height: 622px;
  width: 870px;
  margin-right: 30px;
  background-image: url(../img/workingman-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.about-us-section__consultation {
  display: flex;
  height: 295px;
  width: 870px;
  border: 1px solid #CACACA;
  margin-bottom: 30px;
  margin-top: 2px;
}

.about-us-section__aspiration {
  height: 295px;
  width: 870px;
  border: 1px solid #CACACA;
}

.about-us-section__consultation-aspiration-wrapper {
  display: flex;
  flex-direction: column;
}

.about-us-section__more-btn {
  margin-left: 76px;
  margin-top: 58px;
  border: 3px solid var(--main-yellow);
  background-color: transparent;
}

.about-us-section__more-btn:hover {
  background-color: var(--main-yellow);
  border: none;
}

.about-us-section__more-btn:active {
  background-color: var(--main-yellow-dark);
  border-color: var(--main-yellow-dark);
}

.about-us-section__more-description {
  width: 497px;
  margin-top: 39px;
  margin-left: 54px;
  color: #fff;
  font-weight: 700;
  line-height: 32px;
}

.about-us-section__background {
  display: flex;
  height: 176px;
  width: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.about-us-section__background-small {
  display: none;
}

.about-us-section__square-svg {
  margin: 70px 0 87px 62px;
  width: 178px;
  height: 137px;
  background-image: url(../img/svg/square.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

.about-us-section__aspiration-description,
.about-us-section__consultation-description {
  margin: 60px 108px 72px 59px;
  width: 462px;
  height: 136px;
}

.about-us-section__aspiration-text,
.about-us-section__consultation-text {
  line-height: 32px;
  font-size: 16px;
  font-weight: 400;
  margin-top: -1px;
}

.about-us-section__aspiration-h3,
.about-us-section__consultation-h3 {
  line-height: 42px;
}

.about-us-section__aspiration {
  display: flex;
}

.about-us-section__gear-svg {
  margin: 54px 0 87px 62px;
  width: 178px;
  height: 153px;
  background-image: url(../img/svg/gear.svg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* how-we-work section */

.how-we-work {
  margin-top: 101px;
  margin-bottom: 101px;
}

.how-we-work__step-list {
  display: flex;
  margin-top: 49px;
}

.how-we-work__step-item {
  margin-right: 90px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.how-we-work__step-link {
  border: none;
  background-color: transparent;
}

.how-we-work__step-link:hover {
  color: var(--main-yellow);
}

.how-we-work__step-link:active {
  color: var(--main-yellow-dark);
}


.how-we-work__step-description-wrapper {
  display: none;
  justify-content: space-between;
  min-height: 465px;
  margin-top: 52px;
}

.how-we-work__step-description-wrapper_active {
  display: flex;
}

.how-we-work__text {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  margin-top: -2px;
  margin-right: 10px;
}

.how-we-work__step-description-left {
  position: relative;
  margin-top: -12px;
  margin-left: 2px;
  width: 758px;
  padding-bottom: 65px;
}

.how-we-work__h3 {
  line-height: 42px;
}

.how-we-work__btn-wrapper {
  position: absolute;
  bottom: 0;
}

.how-we-work__more-btn {
  margin-right: 26px;
}

.how-we-work__more-btn:hover {
  background-color: var(--main-yellow-light);
  border-color: var(--main-yellow-light);
}

.how-we-work__more-btn:active {
  background-color: var(--main-yellow-dark);
  border-color: var(--main-yellow-dark);
}

.how-we-work__deal-btn {
  width: 147px;
  height: 58px;
  color: #333;
  font-weight: 400;
  background-color: inherit;
  border: 1px solid #333333;
}

.how-we-work__deal-btn:hover {
  background-color: #666666;
  color: #fff;
}

.how-we-work__deal-btn:active {
  background-color: #000;
}

.how-we-work__step-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* question section */

.questions {
  margin-bottom: 100px;
}

.questions__h2 {
  margin-left: 2px;
}

/* .questions__list {
  margin-top: 39px;
} */

.questions__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 5px;
  min-height: 111px;
  width: 100%;
  line-height: 32px;
  cursor: pointer;
  font-size: 24px;
  font-weight: 700;
  /* background-image: url(../img/svg/plus-svg.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center right; */
}

.questions__item-description {
  line-height: 32px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.questions__plus-svg {
  flex-shrink: 0;
  margin-left: 5px;
  margin-right: 5px;
  width: 50px;
  height: 50px;
  background-image: url(../img/svg/plus-svg.svg);
  background-size: 50px 50px;
  background-repeat: no-repeat;
  background-position: center right;
  transition: transform .25s ease-out;
}

.questions__item:hover {
  color: var(--main-yellow);
  /* background-image: url(../img/svg/plus-svg-dark.svg); */
}

.questions__item:hover > .questions__item-span > .questions__text-gray {
  color: var(--main-yellow);
}

.questions__item:hover > .questions__plus-svg {
  background-image: url(../img/svg/plus-svg-dark.svg);
}

.ui-accordion-header-active > .questions__item > .questions__plus-svg {
  transform: rotate(45deg);
}

.questions__item::before {
  position: absolute;
  content: '';
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #CACACA;
}

.questions__item::after {
  position: absolute;
  content: '';
  top: -1px;
  left: 0;
  width: 100%;
  border-top: 1px solid #CACACA;
}

.questions__item_active::before {
  border-bottom: none;
}


.questions__item:hover::before {
  border-bottom: 1px solid var(--main-yellow);
  z-index: 1;
}

.questions__item:hover::after {
  border-top: 1px solid var(--main-yellow);
}

.questions__item_active:hover::before {
  border-bottom: none;
}
/* .questions__plus-svg::after {
  content: '';
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
} */

.questions__text-gray {
  display: inline;
  color: #cacaca;
}

/* footer */

.footer {
  background-color: #222;
  height: 630px;
  color: #CACACA;
}

.footer__column-wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 48px;
}

.footer__right-text {
  width: 363px;
  height: 320px;
}

.footer__left-item-link {
  color: inherit;
}

.footer__left-list {
  margin-top: 8px;
  margin-left: 1px;
  font-size: 18px;
  font-weight: 600;
  line-height: 36px;
}

.footer__center {
  margin-left: 114px;
}

.footer__social-link {
  margin-right: 25px;
}

.footer__fb-svg {
  width: 60px;
  height: 60px;
  background-image: url(../img/svg/fb-svg.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__vk-svg {
  width: 60px;
  height: 60px;
  background-image: url(../img/svg/vk-svg.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer__instagram-svg {
  width: 60px;
  height: 60px;
  background-image: url(../img/svg/instagram-svg.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.footer_social-wrapper {
  display: flex;
  margin-top: 106px;
}

.footer__h2 {
  margin-bottom: 24px;
  padding-top: 9px;
  color: #CACACA;
}

.footer__input-message,
.footer__input {
  padding: 14px 24px;
  background-color: #414141;
  border: none;
  color: #fff;
}

.footer__input-message::placeholder,
.footer__input::placeholder {
  color: #cacaca;
}

.footer__input {
  height: 60px;
  width: 570px;
  margin-bottom: 25px;
}

.footer__input-message {
  height: 150px;
  width: 570px;
  margin-bottom: 27px;
  padding-top: 22px;
  resize: none;
}

.footer__btn {
  width: 269px;
  margin-right: 18px;
}

.footer__btn:hover {
  background-color: var(--main-yellow-light);
}

.footer__btn:active {
  background-color: var(--main-yellow-dark);
}

/* .footer__form-checkbox {
  margin-right: 4px;
  margin-left: 18px;
  background-color: black;
} */

.footer__form-label {
  cursor: pointer;
  padding-left: 1px;
}

.footer__input-label-wrapper {
  position: relative;
}

.footer__form-checkbox-wrapper {
  display: inline-block;
  position: relative;

}

.footer__form-label::after {
  position: absolute;
  content: '';
  left: 0;
  top: 2px;
  width: 12px;
  height: 12px;
  background-color: inherit;
  border: 1px solid #fff;
  cursor: pointer;
}


.footer__form-checkbox:focus + .footer__form-label::after {
  outline: 1px solid var(--main-yellow);
}

.footer__form-checkbox {
  opacity: 0.0001;
}

.footer__form-checkbox:checked + .footer__form-label::after {
  content: '';
  background-image: url(../img/svg/v-icon.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
}


.footer__right-text {
  line-height: 32px;
  margin-top: 80px;
}

/* .footer__form-checkbox:checked,
.footer__form-checkbox:not(:checked) {
  visibility: hidden;
  padding-left: 25px;
} */

/* .footer__form-checkbox::after {
  display: inline-block;
  content: '';
  top: 0;
  left: 0;
  height: 12px;
  width: 12px;
  visibility: visible;
  border: 1px solid #fff;
  cursor: pointer;
  background-image: none;
  background-color: #222222;
} */

/* .footer__form-checkbox:checked::after {
  content: '';
  background-image: url(../img/svg/v-icon.svg);
  background-size: 10px;
  background-repeat: no-repeat;
  background-position: center;
} */

/* Media */

@media (min-width: 1456px) and (max-width: 1794px) {

  /* about-us media start */

  .about-us-section__more {
    width: 100%;
  }

  .about-us-section__more-description,
  .about-us-section__more-btn {
    margin: 0;
  }

  .about-us-section__more-description {
    margin-top: -3px;
    margin-right: 5px;
  }

  .about-us-section__background {
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
  }

  .about-us-section__square-svg,
  .about-us-section__gear-svg {
    margin: 0;
    margin-right: 8px;

  }

  .about-us-section__aspiration-description,
  .about-us-section__consultation-description {
    margin-left: 0px;
    margin-right: 0px;
    height: auto;
  }
  .about-us-section__consultation,
  .about-us-section__aspiration {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 12px;
  }

  .about-us-section__consultation-aspiration-wrapper {
    width: 100%;
  }

  .about-us-section__promo-wrapper {
    justify-content: space-between;
  }

  /* about-us media end */

}



@media (min-width: 1280px ) and (max-width: 1455px) {

  /* about-us-section start */

  .about-us-section__consultation,
  .about-us-section__aspiration {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 302px;
  }

  .about-us-section__consultation {
    margin-bottom: 15px;
  }

  .about-us-section__square-svg,
  .about-us-section__gear-svg {
    margin: 0;
  }

  .about-us-section__aspiration-description,
  .about-us-section__consultation-description {
    margin: 0;
    text-align: center;
  }

  .about-us-section__aspiration-text,
  .about-us-section__consultation-text {
    line-height: 22px;
  }

  .about-us-section__consultation-aspiration-wrapper {
    width: 100%;
  }

  .about-us-section__background {
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
  }

  .about-us-section__more-description,
  .about-us-section__more-btn {
    margin: 0;
  }

  .about-us-section__more {
    margin-right: 15px;
  }

  .about-us-section__more-description {
    margin-top: -3px;
    margin-right: 5px;
  }

  /* about-us-section end */
  /* footer start */

  .footer__center {
    margin-left: 0;
  }

  /* footer end */

}

@media (min-width: 1024px) and (max-width: 1279px) {

  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  /* header start */
  .header__list-item {
    display: none;
  }

  .header__logo-wrapper {
    margin-left: -20px;
  }

  .header__search-item {
    margin-right: -2px;
  }

  .header__menu-burger {
    display: inline-block;
  }

   /* header end */
   /* hero start */

  .hero-section {
    margin-bottom: 58px;
  }

  .hero-section__background-image {
    background-image: url(../img/hero-img-small.jpg);
    background-position: bottom;
  }

  .hero-section__heading {
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.7px;
  }

  .hero-section__description {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .hero-section__background-image,
  .hero-section__background-image-2,
  .hero-section__background-image-3 {
    height: 668px;
  }

  .hero-section__btn {
    width: 287px;
    margin-top: 109px;
    font-size: 24px;
  }

  .hero-section__content {
    padding: 160px 0 0 45px;
  }

  .hero-section__description {
    width: 680px;
  }

  .hero-section__slider-list {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 30px;
    left: 0;
    right: 0;
  }

  .hero-section__slider-item {
    height: 15px;
    width: 15px;
    margin-right: 20px;
    background: #fff;
    border-radius: 50%;
  }

  .hero-section__slider-item:nth-child(n+2) {
    opacity: 0.4;
  }

  .hero-section__slider-item:last-child {
    margin-right: 0;
  }

  /* hero end */
  /* about-us-section start */

  .about-us-section__heading {
    margin-left: -3px;
  }

  .about-us-section__info-icon {
    margin-right: 5px;
    margin-left: 0;
  }

  .about-us-section__promo-wrapper {
    flex-direction: column;
    width: 100%;
    margin-top: 59px;
  }

  .about-us-section__description {
    margin-top: 26px;
  }


  .about-us-section__more {
    width: 100%;
    height: 640px;
  }

  .about-us-section__background {
    justify-content: space-between;
    padding: 38px 50px 0 44px;
    height: 173px;
  }

  .about-us-section__more-description,
  .about-us-section__more-btn {
    margin: 0;
  }

  .about-us-section__more-btn {
    margin-top: 20px;
  }


  .about-us-section__consultation,
  .about-us-section__aspiration {
    width: 100%;
    justify-content: center;
  }

  .about-us-section__consultation {
    margin-top: 50px;
    margin-bottom: 40px;
  }

  .about-us-section__aspiration-description,
  .about-us-section__consultation-description {
    margin-right: 63px;
  }

  .about-us-section__aspiration-description {
    margin-top: 60px;
  }

  .about-us-section__square-svg {
    margin-top: 75px;
  }

  .about-us-section__gear-svg {
    margin-top: 62px;
  }

  /* about-us-section end */
  /* how-we-work start */

  .how-we-work {
    margin-top: 58px;
    margin-bottom: 54px;
  }

  .how-we-work__h2 {
    margin-left: -6px;
  }

  .how-we-work__step-list {
    margin-top: 50px;
  }


  .how-we-work__step-item {
    margin-right: 89px;
  }

  .how-we-work__step-description-left {
    padding-bottom: 0;
    width: 100%;
    margin-left: 0;
  }

  .how-we-work__btn-wrapper {
    position: relative;
    margin-top: 29px;
  }

  .how-we-work__deal-btn {
    height: 60px;
  }

  .how-we-work__step-description-right {
    padding-left: 22px;
    padding-top: 4px;
  }

  .how-we-work__text {
    margin-right: 27px;
  }

  /* how-we-work end */
  /* questions start */

  .questions {
    margin-bottom: 55px;
  }

  .questions__h2 {
    margin-left: -2px;
  }

  .questions__item {
    font-size: 20px;
    padding: 30px 0;
    margin-left: 1px;
  }

  .questions__item-span {
    max-width: 760px;
  }

  /* questions end */
  /* footer start */

  .footer__right {
    display: none;
  }

  .footer__center {
    margin-left: 0;
  }

  .footer__left-list,
  .footer_social-wrapper {
    margin-left: -1px;
  }

  .footer__form {
    width: 534px;
  }

  .footer__input {
    width: 100%;
  }

  .footer__input-message {
    width: 100%;
  }

  .footer__btn {
    width: 241px;
    margin-right: 11px;
  }

  .footer__form-label {
    font-size: 16px;
  }

  /* .footer__form-checkbox {
    margin-left: 11px;
  } */

  .footer__h2 {
    margin-left: -4px;
  }

  /* footer end */

}


@media (min-width: 768px) and (max-width: 1023px) {

  .wrapper {
    padding-left: 50px;
    padding-right: 50px;
  }

  .wrapper-hero {
    padding: 0;
  }

  /* header start */

  .header__wrapper {
    height: 69px;
  }

  .header__menu-burger_close {
    margin-top: 21px;
  }

  .header__menu-wrapper {
    font-size: 18px;
  }

  .header__list-item {
    display: none;
  }

  .header__logo-wrapper {
    margin-left: -20px;
  }

  .header__search-item {
    margin-right: -2px;
  }

  .header__menu-burger {
    display: inline-block;
  }

   /* header end */
   /* hero start */

  .hero-section {
    margin-bottom: 58px;
  }

  .hero-section__background-image {
    background-image: url(../img/hero-img-768-small.jpg);
  }

  .hero-section__background-image,
  .hero-section__background-image-2,
  .hero-section__background-image-3 {
    height: 699px;
    background-position: bottom;
  }

  .hero-section__heading {
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.7px;
  }

  .hero-section__description {
    margin-top: 10px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0;
  }

  .hero-section__btn {
    width: 287px;
    margin-top: 109px;
    font-size: 24px;
  }

  .hero-section__content {
    padding: 191px 0 0 49px;
  }

  .hero-section__description {
    width: 680px;
  }

  .hero-section__slider-list {
    display: flex;
    position: absolute;
    justify-content: center;
    bottom: 30px;
    left: 0;
    right: 0;
  }

  .hero-section__slider-item {
    height: 15px;
    width: 15px;
    margin-right: 20px;
    background: #fff;
    border-radius: 50%;
  }

  .hero-section__slider-item:nth-child(n+2) {
    opacity: 0.4;
  }

  .hero-section__slider-item:last-child {
    margin-right: 0;
  }


  /* hero end */
  /* about-us-section start */

  .about-us-section__heading {
    margin-left: -3px;
  }

  .about-us-section__info-icon {
    margin-right: 5px;
    margin-left: 0;
  }

  .about-us-section__promo-wrapper {
    flex-direction: column;
    width: 100%;
    margin-top: 59px;
  }

  .about-us-section__description {
    margin-top: 26px;
  }

  .about-us-section__more {
    width: 100%;
    height: 651px;
  }

  .about-us-section__background {
    justify-content: space-evenly;
    align-items: center;
    padding: 0 30px;
    height: 173px;
  }

  .about-us-section__more-description,
  .about-us-section__more-btn {
    margin: 0;
  }

  .about-us-section__more-btn {
    flex-shrink: 0;
    margin-left: 33px;
  }

  .about-us-section__consultation,
  .about-us-section__aspiration {
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 235px;
  }

  .about-us-section__consultation {
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .about-us-section__aspiration-description,
  .about-us-section__consultation-description {
    margin: 0;
    padding-bottom: 4px;
    height: auto;
  }

  .about-us-section__square-svg,
  .about-us-section__gear-svg {
    margin: 0;
  }

  .about-us-section__square-svg {
    width: 121px;
    height: 93px;
  }

  .about-us-section__gear-svg {
    width: 120px;
    height: 103px;
  }

  /* about-us-section end */
  /* how-we-work start */

  .how-we-work {
    margin-top: 58px;
    margin-bottom: 59px;
  }

  .how-we-work__h2 {
    margin-left: -6px;
  }

  .how-we-work__step-list {
    justify-content: space-between;
    margin-top: 50px;
  }

  .how-we-work__step-item {
    margin-right: 0;
  }

  .how-we-work__step-description-wrapper {
    flex-direction: column-reverse;
    margin-top: 45px;
  }

  .how-we-work__step-description-left {
    padding-bottom: 0;
    width: 100%;
    margin-left: 0;
    margin-top: 30px;
  }

  .how-we-work__btn-wrapper {
    position: relative;
    margin-top: 29px;
  }

  .how-we-work__deal-btn {
    height: 60px;
  }

  .how-we-work__step-img {
    height: 284px;
  }

  /* how-we-work end */
  /* questions start */

  .questions {
    margin-bottom: 62px;
  }

  .questions__h2 {
    margin-right: -25px;
    margin-left: 0;
  }

  .questions__item {
    font-size: 20px;
    padding: 30px 0;
    margin-left: 1px;
  }

  .questions__item-span {
    max-width: 760px;
  }

  /* questions end */
  /* footer start */

  .footer {
    height: 816px;
  }

  .footer__column-wrapper {
    flex-direction: column-reverse;
  }

  .footer__left-list {
    display: none;
  }

  .footer__right {
    display: none;
  }

  .footer__center {
    margin-left: 0;
  }

  .footer__left-list,
  .footer_social-wrapper {
    margin-left: -1px;
  }

  .footer__form {
    padding-right: 134px;
    width: 100%;
  }

  .footer__input {
    width: 100%;
  }

  .footer__input-message {
    width: 100%;
  }

  .footer__btn {
    width: 241px;
    margin-right: 11px;
  }

  .footer__form-label {
    font-size: 16px;
  }

  /* .footer__form-checkbox {
    margin-left: 11px;
  } */

  .footer__h2 {
    margin-left: -4px;
    padding-top: 10px;
  }

  .footer__logo {
    padding-top: 58px;
  }

  .footer_social-wrapper {
    margin-top: 12px;
  }

  /* footer end */

}


@media (max-width: 767px) {

  .wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  /* header start */

  .header__wrapper {
    flex-direction: row-reverse;
    height: 45px;
    overflow: hidden;
  }

  .header__menu-wrapper {
    right: 0;
    left: unset;
    transform: translateX(101%);
    font-size: 16px;
    width: 50%;
  }

  .header__menu-wrapper_active {
    transform: translateX(0) !important;
  }

  .header__list-item {
    display: none;
  }

  .header__nav {
    display: none;
  }

  .header__menu-burger {
    display: inline-block;
    background-size: contain;
    height: 19px;
    width: 25px;
  }

   /* header end */
   /* hero start */

  .swiper-pagination {
    display: none;
  }

  .hero-section {
    margin-bottom: 39px;
  }

  .hero-section__background-image {
    background-image: url(../img/hero-img-768-small.jpg);
  }

  .hero-section__background-image,
  .hero-section__background-image-2,
  .hero-section__background-image-3 {
    height: 262px;
    background-position: bottom;
  }

  .hero-section__heading {
    text-align: center;
    width: 247px;
    margin-top: 32px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.2px;
  }

  .hero-section__description {
    margin-top: 7px;
    text-align: center;
    width: 247px;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.2px;
    font-weight: 500;
  }

  .hero-section__btn {
    width: 162px;
    height: 40px;
    margin-top: 35px;
    font-size: 12px;
    line-height: 14px;
  }

  .hero-section__content {
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .hero-section__slider-list {
    display: none;
  }

  .hero-section__slider-item {
    height: 15px;
    width: 15px;
    margin-right: 20px;
    background: #fff;
    border-radius: 50%;
  }

  .hero-section__slider-item:nth-child(n+2) {
    opacity: 0.4;
  }

  .hero-section__slider-item:last-child {
    margin-right: 0;
  }

  /* hero end */
  /* about-us-section start */

  .about-us-section__heading {
    margin-left: 0;
    font-size: 24px;
    line-height: 30px;
  }

  .about-us-section__info-icon {
    margin-right: 5px;
    margin-left: 0;
  }

  .about-us-section__promo-wrapper {
    flex-direction: column;
    width: 100%;
    margin-top: 11px;
  }

  .about-us-section__description {
    margin-top: 1px;
    font-size: 14px;
    line-height: 28px;
  }

  .about-us-section__more {
    width: 100%;
    height: 200px;
  }

  .about-us-section__background {
    display: none;
  }

  .about-us-section__background-small {
    display: inline-block;
    margin-top: 8px;
    margin-left: -1px;
  }

  .about-us-section__more-description-small {
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
  }

  .about-us-section__more-btn-small {
    height: 40px;
    width: 162px;
    margin-top: 11px;
    background-color: transparent;
    border: 2px solid var(--main-yellow);
    color: var(--main-yellow);
    font-size: 12px;
    line-height: 14px;
  }

  .about-us-section__more-description,
  .about-us-section__more-btn {
    margin: 0;
  }

  .about-us-section__more-btn {
    flex-shrink: 0;
    margin-left: 33px;
  }

  .about-us-section__consultation,
  .about-us-section__aspiration {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    height: auto;
    border: none;
  }

  .about-us-section__consultation {
    margin-top: 40px;
    margin-bottom: 17px;
  }

  .about-us-section__consultation-h3,
  .about-us-section__aspiration-h3 {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 500;
    line-height: 23px;
    letter-spacing: 0.2px;
  }

  .about-us-section__consultation-text,
  .about-us-section__aspiration-text {
    margin-top: 3px;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .about-us-section__aspiration-description,
  .about-us-section__consultation-description {
    width: auto;
    margin: 0;
    padding-bottom: 4px;
    height: auto;
  }

  .about-us-section__square-svg,
  .about-us-section__gear-svg {
    margin: 0;
  }

  .about-us-section__square-svg {
    width: 64px;
    height: 49px;
  }

  .about-us-section__gear-svg {
    width: 64px;
    height: 55px;
  }

  /* about-us-section end */
  /* how-we-work start */

  .how-we-work {
    margin-top: 43px;
    margin-bottom: 38px;
  }

  .how-we-work__h2 {
    font-size: 24px;
    line-height: 29px;
  }

  .how-we-work__step-list {
    justify-content: space-between;
    margin-top: 32px;
  }


  .how-we-work__step-item {
    margin-right: 0;
    font-size: 14px;
  }

  .how-we-work__step-description-wrapper {
    flex-direction: column-reverse;
    margin-top: 14px;
  }

  .how-we-work__step-description-left {
    width: 100%;
    padding-bottom: 0;
    margin-left: 0;
    margin-top: 3px;
  }

  .how-we-work__btn-wrapper {
    position: relative;
    display: flex;
    justify-content: flex-start;
    margin-top: 22px;
  }

  .how-we-work__deal-btn {
    height: 60px;
  }

  .how-we-work__step-img {
    height: 160px;
  }

  .how-we-work__h3 {
    font-size: 18px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0.1px;
  }

  .how-we-work__text {
    margin-right: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
  }

  .how-we-work__more-btn {
    width: 162px;
    height: 40px;
    font-size: 12px;
    margin-right: 10px;
    line-height: 16px;
  }

  .how-we-work__deal-btn {
    width: 118px;
    height: 40px;
    font-size: 12px;
    line-height: 16px;
  }

  /* how-we-work end */
  /* questions start */

  .questions {
    margin-bottom: 44px;
  }

  .questions__h2 {
    margin-left: 0;
    font-size: 24px;
    line-height: 30px;
  }

  .questions__list {
    margin-top: 14px;
  }

  .questions__item {
    font-size: 14px;
    line-height: 24px;
    min-height: 108px;
    font-weight: 500;
    padding: 30px 0;
    margin-left: 1px;
  }

  .questions__plus-svg {
    height: 30px;
    width: 30px;
    background-image: url(../img/svg/plus-svg-small.svg);
    background-size: 30px 30px;
  }

  .questions__item-span {
    max-width: 760px;
  }

  /* questions end */
  /* footer start */

  .footer {
    min-height: 690px;
  }

  .footer__column-wrapper {
    flex-direction: column-reverse;
    padding-top: 29px;
  }

  .footer__left {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .footer__left::after {
    position: absolute;
    content: '';
    left: 0;
    right: 0;
    top: -24px;
    height: 1px;
    width: 100%;
    background-color: #3d3d3d;
  }

  .footer__left-list {
    display: none;
  }

  .footer__right {
    display: none;
  }

  .footer__center {
    margin-bottom: 55px;
    margin-left: 0;
  }

  .footer__left-list,
  .footer_social-wrapper {
    margin-left: -1px;
  }

  .footer__form {
    width: 100%;
  }

  .footer__input {
    font-size: 14px;
    width: 100%;
    padding: 14px 20px;
  }

  .footer__input-message {
    margin-bottom: 21px;
    padding: 21px 20px;
    font-size: 14px;
    width: 100%;
  }

  .footer__btn {
    margin-bottom: 19px;
    font-size: 12px;
    width: 180px;
    height: 40px;
  }

  .footer__form-label {
    transform: translateX(-7px);
    font-size: 16px;
  }

  /* .footer__form-checkbox {
    margin-left: 11px;
  } */

  .footer__h2 {
    margin-left: -1px;
    padding-top: 10px;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 30px;
  }

  .footer__logo {
    width: 131px;
    height: 42px;
    object-fit: cover;
    object-position: center;
  }

  .footer_social-wrapper {
    margin-top: 16px;
  }

  .footer__input-label-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .footer__fb-svg,
  .footer__vk-svg,
  .footer__instagram-svg {
    height: 35px;
    width: 35px;
    background-size: contain;
  }

  .footer__social-link {
    margin-right: 15px;
  }

  /* footer end */

}
